@font-face {
  font-family: "OpenSans-Light";
  src: url(./assets/Fonts/Open_Sans/static/OpenSans/OpenSans-Light.ttf);
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url(./assets/Fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}

:root {
  font-family: OpenSans-Light, OpenSans-Regular, system-ui, -apple-system, Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: OpenSans-Light, OpenSans-Regular, system-ui, -apple-system, Roboto, sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}